* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, sans-serif;
	background-color: #111;
	height: 100vh
  }
  
  header, footer {
	color: white;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  footer.titre {
	display: flex;
	align-items: center;
    flex-direction: column
  }

  input {
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	background-color: white;
	color: black;
	border-radius: 1rex;
  }
  
  button {
	background-color: #308002;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 1rex;
  }
  
  button:hover {
	background-color: #777;
  }

  .disabled button:hover {
	background-color: #333;
  }
  
  .container {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	border-radius: 1rex;
    height: 50%;
    padding: 100px 0;
  }
  
  .left,
  .right {
	width: 48%;
	align-content: center;
  }
  
  
  .input-group {
	display: flex;
	margin-top: 15px;
  }
  
  .action-buttons {
	display: flex;
	justify-content: center;
	height: 10%;
  }
  
  .action-buttons button {
	background-color: #333;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	border-radius: 1rex;
  }
  
  .action-buttons button:hover {
	background-color: #555;
  }
  
  .input-group .label {
	display: block;
	margin-right: 10px;
	color: white;
	width: 20%;
	text-align: right;
	padding: 10px;
	border-radius: 1rex;
  }

  .input-group label {
	margin-right: 10px;
	color: white;
	text-align: right;
	padding: 10px;
	border-radius: 1rex;
  }
  
  .input-group .value {
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 1rex;
	color: black;
  }

  .actual {
	width: 100%;
	vertical-align: middle;
	margin-top: 0;
	border-radius: 1rex;
	display: flex;
	flex-direction: column;
  }

  .value {
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
	color: white;
	border-radius: 1rex;
  }
  
  td:last-of-type {
	text-align: center;
  }

  h1 {
	font-size: 200px;
    text-align: center;
    color: white;
  }

  .A {
    color: purple;
  }
  .n {
    color: blue;
  }
  .i {
    color: green;
  }
  .m {
    color: yellow;
  }
  .a {
    color: orange;
  }
  .l {
    color: orangered;
  }
  .s {
    color: red;
  }

  #play {
    width: 100%;
    height: 120px;
    align-self: center;
    font-size: 80px;
  }

a {
    width: 50%;
    align-self: center;
}